@font-face {
  font-family:' __steradian_1d375e';
  src: url(../public/media/e8ff33847d038ba3-s.p.otf) format("opentype");
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family:' __steradian_1d375e';
  src: url(../public/media/4432448b78bf54e0-s.p.otf) format("opentype");
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family:' __steradian_1d375e';
  src: url(../public/media/9bb40bc357563cfc-s.p.otf) format("opentype");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family:' __steradian_1d375e';
  src: url(../public/media/0b67bbdcc074fc61-s.p.otf) format("opentype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family:' __steradian_1d375e';
  src: url(../public/media/16dd59a797623aba-s.p.otf) format("opentype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: '__steradian_1d375e';
  src: url(../public/media/163ae96efab81b30-s.p.otf) format("opentype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: '__steradian_1d375e';
  src: url(../public/media/cb9dd054a5934302-s.p.otf) format("opentype");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family:' __steradian_Fallback_1d375e';
  src: local("Arial");
  ascent-override: 91.86%;
  descent-override: 27.56%;
  line-gap-override: 0%;
  size-adjust: 108.86%;
}
.__className_1d375e {
  font-family: '__steradian_1d375e',' __steradian_Fallback_1d375e';
}
body{

  font-family: '__steradian_1d375e',' __steradian_Fallback_1d375e';
}

.epoch-btn {
  min-height: 22px;
  border-radius: 10px;
  background-image: conic-gradient(from .41turn, #c88ffa, #c88ffa .11turn, #a175de .24turn, #5644a8 .4turn, #000c56 .58turn, #34308f 270deg, #413cb4 .83turn, #c88ffa);
  text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.max-w-9xl {
  max-width: 1520px;
}
.min-h-28 {
  min-height: 7rem;
}

.bubble, .bubbles {
  backface-visibility: hidden;
  perspective: 1000;
}
.bubbles {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: rotate;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: center;
}

.bubble.loop {
  background: var(--bubble1-bg);
  box-shadow: 0 0 var(--bubble-radius) var(--bubble-radius) var(--bubble1-bg);
  animation-name: float1;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
.bubble {
  position: relative;
  width: 1px;
  height: 1px;
  margin: calc(var(--bubble-radius) / 2);
  border-radius: 50%;
  opacity: .9;
}

.bubble.referral {
  background: var(--bubble2-bg);
  box-shadow: 0 0 var(--bubble-radius) var(--bubble-radius) var(--bubble2-bg);
  animation-name: float2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.mask-gradient {
  --mask: linear-gradient(-45deg, transparent -50%, black 0%);
  opacity: 1;
}



.mask-it {
  --mask: linear-gradient(-45deg, transparent 100%, #000 150%);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
}

.bg-loop-btc-bg {
  z-index: 2;
  position: relative;
  background-image: url(../public/images/loop.png) !important;
}

.bg-main-bottom::after {
  content: var(--tw-content);
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .68) 65%, #f7f7f7);
}

.bg-text-orange-linear {
  background-image: linear-gradient(85deg, #fa4, #f7931a 137%);
}

.bg-text-clip {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} 